spring:
  application:
    name: elearning-platform

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 86400000